---
export const prerender = true;
import { getCollection, getEntry } from "astro:content";
import DocsLayout from "@layouts/DocsLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";
import "@styles/docs.css";
import TableOfContentsMobile from "@components/TableOfContentsMobile.astro";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const doc = await getEntry("docs", slug);

const { Content, headings } = await doc.render();

export async function getStaticPaths() {
  const docs = await getCollection("docs");
  return docs.map((doc: { slug: string }) => ({
    params: { slug: doc.slug },
  }));
}
---

<DocsLayout title={`${doc.data.title} | Documentación de Ideal`}>
  <article
    class="markdown-body px-4 lg:px-0 xl:px-0 2xl:px-0 2xl:w-2/4 pt-2 2xl:pt-10"
  >
    <TableOfContentsMobile headings={headings} />
    <h1 id="main-title" class="text-xl font-bold">{doc.data.title}</h1>
    <Content />
  </article>
  <TableOfContents headings={headings} />
</DocsLayout>
