---
import DocsLayout from "@layouts/DocsLayout.astro";
import '@styles/docs.css';
import Youtube from "@components/Youtube.astro";
// import '@justinribeiro/lite-youtube';
---
<DocsLayout title="Inicio | Documentación de Ideal">
  <article class="markdown-body px-4 lg:px-0 xl:px-0 2xl:px-0 2xl:w-2/4 pt-10">
    <h1>Documentación de Ideal</h1>
    <p>¡Bienvenido a la documentación de Ideal! Aquí encontrarás todo lo necestias saber para colaborar en la plataforma de Ideal.</p>
    <!-- <Youtube v="dQw4w9WgXcQ" alt="Rick Astley - Never Gonna Give You Up" /> -->
  </article>
</DocsLayout>