---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

// Function to extract file ID from the bookDownloadLinkId
const extractFileId = (link: string) => {
  const regex = /\/d\/([^/]+)\/view/;
  const match = link.match(regex);
  return match ? match[1] : null;
}

// Fetch the books collection data
const allBooks = await getCollection("books"); 
---

<Layout title="Libros">
  <main class="flex-col max-w-7xl mx-auto lg:flex lg:items-center lg:justify-between">
    <div class="absolute top-0 -z-10 h-full w-full bg-white">
      <div class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(173,109,244,0.5)] opacity-50 blur-[80px]"></div>
    </div>
    <header class="flex justify-center py-5">
      <h1 class="text-5xl font-bold tracking-tight" style="font-family: 'Bricolage Grotesque', sans-serif;">Bienvenido a los libros</h1>
    </header>
    <section class="flex justify-center">
      <h2 class="text-xl font-normal">Encuentra todos los libros más relevantes para seguir con tus estudios de ingeniería</h2>
    </section>
    <div>
      {
        allBooks.map(book => (
          <div class="border border-solid border-blue-600 py-5 px-3 rounded-md">
            <h3>{book.data.bookName}</h3>
            <strong>Autor: {book.data.bookAuthor}</strong>
            {/* Call the extractFileId function to extract the file ID */}
            {book.data.bookDownloadLinkId && (
              <a 
                href={ `https://drive.google.com/uc?export=download&id=` + extractFileId(book.data.bookDownloadLinkId)} 
                aria-label={`Descargar ${book.data.bookName}`}
              >
                Descargar
              </a>
            )}
            
          </div>
        ))
      }
    </div>
  </main>
</Layout>
