---
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const postNoDraft = posts.filter((e) => e.data.draft == false);
const postCheck = postNoDraft.filter((e)=> e.data.major.discriminant == "cpa");
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contenido de Ideal">
  <main class="mt-5 max-w-7xl mx-auto lg:items-center lg:justify-between">
    <header>
      <h1 class="text-4xl font-bold">Contenido de Ideal</h1>
      <h2 class="text-2xl font-bold">Aqui encontraras toda lo relacionado al Cursillo Probatorio de Admisión</h2>
    </header>
    <section class="px-4">
      <ul>
        {
          postCheck.map((post: { slug: string; data: { title: string } }) => (
            <li class="list-disc">
              <a
                href={`/posts/${post.slug}`}
                class="underline text-xl text-blue-600 font-medium"
              >
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
