---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<Layout title="404: Página no encontrada, un perro se la comió" pagefinderIgnore>
  <div class="flex flex-col items-center mt-32 gap-y-5 text-gray-700 font-mono">
    <Image
      src="/404-dog.webp"
      alt="Error 404"
      height={100}
      width={400}
      class="size-64 md:size-72 lg:size-72 xl:size-72 2xl:size-72"
    />
    <h1 class="text-5xl md:text-6xl lg:text-6xl xl:text-6xl 2xl:text-6xl bg-gray-200 leading-none p-2 rounded-md justify-center items-center">404</h1>
    <span class="text-xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-3xl leading-5 text-center"> Un perro se ha comido esta página </span>
    <a href="/" class="p-4 bg-zinc-900 hover:scale-110 transition-transform duration-150 ease-in-out text-white rounded-full flex items-center gap-x-2">
    <span>Volver</span>
    <Icon name="reload" />
    </a>
  </div></Layout
>
