---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Acerca de nosotros" pagefinderIgnore>
  <main class="container mx-auto px-32 py-12 flex flex-col gap-y-20">
    <h1>Acerca de</h1>
  </main>
</Layout>


