---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Bienvenido a Ideal">
  <main>
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
    >
    </div>
    <div class="px-4 md:px-6 lg:px-6 xl:px-0 py-4 md:py-6 lg:py-2">
      <header>
        <div
          class="max-w-7xl mx-auto lg:flex lg:items-center lg:justify-between"
        >
          <div class="lg:w-1/2">
            <h1
              class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl"
            >
              Tu plataforma de <br /> aprendizaje ideal
            </h1>
            <p class="mt-3 max-w-md text-lg text-gray-500 sm:text-xl">
              Notas de clases, exámenes y recursos gratuitos. Impulsado por la
              comunidad de alumnos de la FIUNI.
            </p>
            <div class="mt-8 flex flex-col gap-y-2">
              <a
                href="/acerca-de"
                class="underline text-sm font-semibold flex items-center w-fit text-black hover:text-gray-700"
              >
                Aprende más sobre nuestra misión.
              </a>
              <a
                href="/posts"
                class="text-xl underline font-semibold w-fit text-blue-600 hover:text-blue-900 bg-white border border-solid border-blue-600 p-5 rounded-md"
              >
                Explora notas y exámenes
              </a>
            </div>
          </div>
          <div class="mt-8 lg:mt-0 lg:w-1/2 flex justify-center">
            <!-- for better performance use Astro's Image component #Christopher-->
            <Image
              class="sm:mt-8"
              src="/ReadingDoodle.svg"
              alt="Estudiante leyendo"
              width="400"
              height="400"
            />
          </div>
        </div>
      </header>
      <main>
        <div class="max-w-7xl mx-auto">
          <div class="lg:flex lg:items-center lg:justify-between"></div>
          <div
            class="mt-6 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
          >
            <div
              class="rounded-lg border text-card-foreground shadow-sm bg-white"
              data-v0-t="card"
            >
              <div class="p-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-6 w-6 text-yellow-400"
                >
                  <path
                    d="M20 16V7a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v9m16 0H4m16 0 1.28 2.55a1 1 0 0 1-.9 1.45H3.62a1 1 0 0 1-.9-1.45L4 16"
                  ></path>
                </svg>

                <h2 class="mt-2 text-sm font-medium text-gray-900">Notas</h2>
                <p class="mt-1 text-sm text-gray-500">
                  Lee notas tomadas por otros alumnos que aportaron a ideal
                </p>
              </div>
            </div>
            <div
              class="rounded-lg border text-card-foreground shadow-sm bg-white"
              data-v0-t="card"
            >
              <div class="p-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-6 w-6 text-purple-400"
                >
                  <path
                    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"
                  ></path>
                </svg>
                <h2 class="mt-2 text-sm font-medium text-gray-900">Libros</h2>
                <p class="mt-1 text-sm text-gray-500">
                  Encuentra fácilmente los libros más relevantes para ti
                </p>
              </div>
            </div>
            <div
              class="rounded-lg border text-card-foreground shadow-sm bg-white"
              data-v0-t="card"
            >
              <div class="p-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="h-6 w-6 text-red-400"
                >
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                <h2 class="mt-2 text-sm font-medium text-gray-900">Exámenes</h2>
                <p class="mt-1 text-sm text-gray-500">
                  Estudia con exámenes de años pasados de tu materia
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </main>
</Layout>
