---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const postsMajor = posts.filter((e) => e.data.major.value == "civil");
const postCheck = posts.filter((e) => e.data.draft == false);

---

<Layout title="Ingenieria Civil - Ideal">
    <div
        class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
        <div
            class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"
        >
        </div>
        
    </div>
    </div>
    <div class="mx-10">
        
    </div>
    
</Layout>
