---
import katex from 'katex';

const { formula = '' } = Astro.props;
const html = katex.renderToString(formula, {throwOnError: false, displayMode: false});
---

<span class="inline-block">
    <span set:html={html}/>
</span>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
    integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
    crossorigin="anonymous"
/>