---
const { headings = [] } = Astro.props;
---

<nav class="text-sm min-w-fit h-auto bg-gray-100 border rounded-md border-gray-200 border-solid">
  <ul>
    {headings.map((heading: { depth: number, slug: string, text: string }) => (
      <li style={{marginLeft: `${heading.depth}em`}}>
        <a class="underline text-gray-600" href={`#${heading.slug}`}>{`${heading.depth} ${heading.text}`}</a>
      </li>
    ))}
  </ul>
</nav>
