---
const { headings = [] } = Astro.props;
---

<nav
  id="toc"
  class="hidden  xl:block 2xl:block
  text-xs 2xl:w-1/4 2xl:h-screen overflow-y-scroll p-2 top-5 overflow-hidden
  bg-gray-50 border rounded-md border-gray-200 border-solid
  print:hidden"
>
  <ul>
    {
      headings.map((heading: { depth: number; slug: string; text: string }) => (
        <li style={{ marginLeft: `${heading.depth}em` }}>
          <a
            class="hover:underline text-gray-600"
            href={`#${heading.slug}`}
          >{`${heading.text}`}</a>
        </li>
      ))
    }
  </ul>
</nav>
