---
import { Icon } from "astro-icon/components";
---
<a
  href="https://tally.so/r/31lVzL" target="_blank" rel="noopener"
  class="bg-zinc-50 border boder-zinc-800 text-zinc-800 font-medium text-xs lg:text-sm xl:text-sm p-4 lg:py-2 lg:px-4 xl:py-2 xl:px-4 rounded-full hover:bg-zinc-200 flex gap-x-2 items-center"
>
  <Icon name="clipboard" />
  <span>Ser Colaborador</span>
</a>
