---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Acerca de nosotros">
  <main class="container mx-auto px-32 py-12 flex flex-col gap-y-20">
    <h1>Comunidad</h1>
  </main>
</Layout>

<style>
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #1a202c;
    }
</style>


