@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* global.css or tailwind.css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}