@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: 'Inter', sans-serif;
}