---
import "../styles.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="La descripción de este Contenido" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/prism.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    data-prismjs-copy="Copiar"
    data-prismjs-copy-error="Presiona Ctrl+C para copiar"
    data-prismjs-copy-success="¡Copiado!"
    data-prismjs-copy-timeout="5000"
  >
    <script src="/prism.js" is:inline></script>
    <Header id="app-header" class:list=`no-print` />
    <div class="px-4">
      <slot />
    </div>
    <a
      class="print:hidden m-5 rounded-xl ml-3 bg-black p-3 font-light text-sm text-white sticky bottom-5 place-self-end mt-[calc(100vh+10rem)]"
      href="#main-title">Ir Arriba↑</a
    >
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      @media print {
        .no-print {
          display: none !important;
        }

        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1.3em;
        }
        h3 {
          font-size: 1.1em;
        }

        p {
          font-size: 1em;
        }

        #app-header {
          display: none !important;
        }

        .print {
          display: block !important;
        }

        astro-dev-toolbar {
          display: none !important;
        }

        article {
          break-inside: avoid;
        }
      }
    </style>
  </body>
</html>
