---
import "../styles.css";
import { Icon } from "astro-icon/components";

export interface Props {
  title: string;
  description: string;
  draft?: boolean;
}

const { title, description, draft = false} = Astro.props;
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es"  {...(draft ? { "data-pagefind-ignore": "all" } : {})}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/prism.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    data-prismjs-copy="Copiar"
    data-prismjs-copy-error="Presiona Ctrl+C para copiar"
    data-prismjs-copy-success="¡Copiado!"
    data-prismjs-copy-timeout="5000"
  >
    <script src="/prism.js" is:inline></script>
    <Header id="app-header" class:list=`no-print` />
    <div class="px-4">
      <slot />
    </div>
    <a
      class="print:hidden m-5 rounded-full ml-3 bg-black p-5  font-light text-sm text-white sticky bottom-5 float-right place-self-end mt-[calc(100vh+10rem)] active:scale-150 transition-all duration-75 ease-in-out"
      href="#main-title">
      <Icon name="arrow-up" class="size-5 aspect-square" />
      </a
    >
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
      @media print {
        .no-print {
          display: none !important;
        }

        h1 {
          font-size: 1.5em;
        }
        h2 {
          font-size: 1.3em;
        }
        h3 {
          font-size: 1.1em;
        }

        p {
          font-size: 1em;
        }

        #app-header {
          display: none !important;
        }

        .print {
          display: block !important;
        }

        astro-dev-toolbar {
          display: none !important;
        }

        article {
          break-inside: avoid;
        }
      }
    </style>
  </body>
</html>
