---
import "../styles.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#56aded" />
    <meta name="google-site-verification" content="9Y_F8JcWgx-R8tFzfjcuPmJYuhpJiuIp6QUgDcQ2FWc" />
    <script async src="https://tally.so/widgets/embed.js"></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>