---
import "../styles.css";

export interface Props {
  title: string;
  pagefinderIgnore?: boolean;
}

const { title, pagefinderIgnore = false } = Astro.props; 
import Header from "@components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es" {...(pagefinderIgnore ? { "data-pagefind-ignore": "all" } : {})}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="9Y_F8JcWgx-R8tFzfjcuPmJYuhpJiuIp6QUgDcQ2FWc" />
    <meta name="google-site-verification" content="ORWWMsTqKvZ-9nbTFXatncB8OHPS32CSy6xI8_AWCdI" />
    <script async src="https://tally.so/widgets/embed.js"></script>
    <title>{title}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://ideal.fiuni.edu.py/"/>
    <link as="font" rel="preload" href="/public/fonts/inter.woff2" type="font/woff2" crossorigin="" />
    <ViewTransitions />
    <style>
      @font-face {
        font-family: 'Inter';
        src: url('/fonts/InterVariable.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        }

      body {
        font-family: 'Inter', system-ui, sans-serif;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>